.Landing{
    background-color: #fc6866;
    height: 100vh;
    margin: auto;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Landing-image{
    min-width: 200px;
    margin: auto;
    margin-top:-10%;
    margin-bottom: 10px;
}

.Landing-btn{
    min-width: 250px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 5px 10px;
    margin: 15px ;
    background-color: #fc6866;
    border: none;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.354);
    transition: 1s;
    font-size: larger;
}

.Landing-btn:hover{
    background-color: #c85654;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0);
    transition: 1s;
}

@media screen and (max-width: 525px) {
    .Landing-btn{
       width: 100%;
     margin: 0;
     margin-bottom: 15px;
     padding: 5px 0;
    }
}